* {
  font-family: Inter;
  border: none;
  text-decoration: none;
  list-style: none;
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s linear;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

header {
  position: fixed;
  width: 100%;
  background: #007793;
  z-index: 999;
}

.menu {
  margin: 3rem auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-logo {
  font-weight: 900;
  box-shadow: 0px 0px 15px -5px rgba(17, 212, 238, 0.368627451);
  border-radius: 20px;
  padding: 1.2rem;
  font-size: 2.3rem;
  cursor: default;
}
.menu-logo h1 {
  color: #60d6f4;
}
.menu-list ul {
  display: flex;
  font-size: 2.2rem;
  letter-spacing: 2px;
}
.menu-list ul li {
  margin: 0 3rem;
}
.menu-list ul li:hover {
  transform: translateY(-5px);
}
.menu-list ul li a {
  color: #a2ffff;
}
.menu-list ul li a:hover {
  border-bottom: 1px solid #60d6f4;
}
.menu-active {
  border-bottom: 1px solid #60d6f4;
  transform: translateY(-5px);
}
.menu-btn {
  display: none;
}
.menu-mobile {
  display: none;
}

.content {
  width: fit-content;
  margin: auto;
  min-height: 100vh;
  height: 500px auto;
  padding: 20rem 0 0 0;
}
.content-history {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #d6f3fa;
  padding: 10rem;
  border-radius: 8px;
}
.content-history h2 {
  margin: 0 0 2rem 0;
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  color: #007793;
  cursor: default;
}
.content-history img {
  width: 20rem;
  height: 20rem;
  border-radius: 999px;
  box-shadow: 0px 0px 15px 1px #979eb3;
  cursor: pointer;
}
.content-history img:hover {
  width: 22rem;
  height: 22rem;
}
.content-history p {
  max-width: 600px;
  font-size: 2rem;
  margin: 5rem 0 0 0;
  text-align: justify;
  cursor: default;
}
.content-history p span {
  font-size: 2.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}
.content-history p span:hover {
  color: #0098b5;
}
.content-history h4 {
  font-size: 3rem;
  text-align: center;
  color: #007793;
  margin: 5rem 0 1.5rem 0;
  cursor: default;
}
.content-history .content-btns {
  display: flex;
  gap: 2rem;
}
.content-history .content-btns-insta button {
  cursor: pointer;
  font-size: 4rem;
  background: linear-gradient(120deg, #405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
  border-radius: 8px;
  padding: 0.7rem;
  color: #fff;
}
.content-history .content-btns-insta button:hover {
  font-size: 5rem;
}
.content-history .content-btns-git button {
  cursor: pointer;
  font-size: 4rem;
  padding: 0.7rem;
  background: #383434;
  color: #fff;
  border-radius: 8px;
}
.content-history .content-btns-git button:hover {
  font-size: 5rem;
}
.content-history .content-btns-linkedin button {
  cursor: pointer;
  font-size: 4rem;
  padding: 0.7rem;
  background: #0e76a8;
  color: #fff;
  border-radius: 8px;
}
.content-history .content-btns-linkedin button:hover {
  font-size: 5rem;
}
.content .content-abilities {
  text-align: center;
  margin: 5rem auto;
  padding: 0 0 5rem 0;
  border-bottom: 1px solid #b9b9b9;
  border-top: 1px solid #b9b9b9;
}
.content .content-abilities h3 {
  margin: 3rem 0 1rem 0;
  font-size: 4rem;
  color: #007793;
  cursor: default;
}
.content .content-abilities-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  background: #007793;
  border-radius: 8px;
  width: fit-content;
  margin: auto;
  padding: 1rem 2rem;
}
.content .content-abilities-icons .fa-html5 {
  background: linear-gradient(90deg, #e34c26, #f06529);
  color: #ebebeb;
  font-size: 3.6rem;
  text-align: center;
  padding: 1rem;
}
.content .content-abilities-icons .fa-css3 {
  background: linear-gradient(90deg, #264de4, #2965f1);
  color: #ebebeb;
  font-size: 3.6rem;
  text-align: center;
  padding: 1rem;
}
.content .content-abilities-icons .fa-sass {
  background: #cc6699;
  color: #fff;
  font-size: 3.6rem;
  text-align: center;
  padding: 1rem;
}
.content .content-abilities-icons .fa-square-js {
  background: #323330;
  color: #F0DB4F;
  font-size: 3.6rem;
  text-align: center;
  padding: 1rem;
}
.content .content-abilities-icons .fa-github {
  background: #383434;
  color: #fff;
  font-size: 3.6rem;
  text-align: center;
  padding: 1rem;
}
.content .content-abilities-icons button {
  cursor: pointer;
  border-radius: 8px;
}
.content .content-abilities-icons button:hover {
  font-size: 4.6rem;
}
.content .projetos {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  color: #007793;
  cursor: default;
}
.content .content-projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 5rem auto;
}
.content .content-projects-p1 {
  text-align: center;
}
.content .content-projects-p1 h4 {
  font-size: 2rem;
  font-weight: 600;
  color: #007793;
  cursor: default;
  margin: 3rem 0 1rem 0;
}
.content .content-projects-p1 img {
  max-width: 286px;
  max-height: 286px;
  border-radius: 8px;
  cursor: default;
  margin: 0 0 1rem 0;
}
.content .content-projects-p1 div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}
.content .content-projects-p1 div button {
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  padding: 1.2rem 1.6rem;
  border-radius: 8px;
  background: linear-gradient(90deg, #007793, #60d6f4);
}
.content .content-projects-p1 div button:hover {
  font-size: 1.6rem;
  background: linear-gradient(90deg, #60d6f4, #007793);
}
.content .content-projects-p2 {
  text-align: center;
}
.content .content-projects-p2 h4 {
  font-size: 2rem;
  font-weight: 600;
  color: #007793;
  cursor: default;
  margin: 3rem 0 1rem 0;
}
.content .content-projects-p2 img {
  max-width: 286px;
  max-height: 286px;
  border-radius: 8px;
  cursor: default;
  margin: 0 0 1rem 0;
}
.content .content-projects-p2 div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}
.content .content-projects-p2 div button {
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  padding: 1.2rem 1.6rem;
  border-radius: 8px;
  background: linear-gradient(90deg, #007793, #60d6f4);
}
.content .content-projects-p2 div button:hover {
  font-size: 1.6rem;
  background: linear-gradient(90deg, #60d6f4, #007793);
}

@media (max-width: 942px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 836px) {
  .menu-logo {
    font-size: 1.4rem;
    text-align: center;
    margin: 0 1rem;
  }
  .menu-list {
    display: none;
  }
  .menu-btn {
    display: flex;
    padding: 1.2rem;
    font-size: 2.2rem;
    font-weight: 900;
    border-radius: 8px;
    background: #a2ffff;
    color: #236170;
    cursor: pointer;
  }
  .menu-mobile {
    position: absolute;
    display: block;
    top: 0;
    left: -2000px;
    margin: 11rem 0 0 0;
    padding: 9rem 0 0 0;
    z-index: 99;
    font-size: 2rem;
    text-align: center;
    background: #007793;
    min-width: 100%;
  }
  .menu-mobile ul li {
    margin: 0 0 3rem 0;
  }
  .menu-mobile ul li a {
    color: #a2ffff;
    letter-spacing: 0.2rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .content-history {
    margin: auto 2rem;
    padding: 3rem;
  }
  .content .content-abilities {
    margin: auto 2rem;
  }
}
.on {
  left: 0;
}

/*# sourceMappingURL=styles-sobre.css.map */
